
body {

  font-size: 24px;
  line-height: 32px;
  font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
  background: #e6ffff;
}

/* Header Files*/

header {

  position: relative;	
  padding: 0px;
  height: 52px;
  width: 100%;
  margin-bottom: 00px;
  color: #ffffff;
  line-height: 24px;
  border-bottom-color: #cccccc;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  background: #dddddd;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* section {

  padding: 20px;
} */
/*
a:focus {

  background-color: lightblue;
}

a:link {

    color: black;
}

a:visited {

    color: #4aaaa5;
}

a:hover {

    color: red;
}

a:active {

    color: black;
}
*/

#name{
  position: absolute;
  text-align: center;
  padding: 16px;
  left: 100px;
  width: 140px;
  height: 20px;
  background: #4aaaa5; 
}

/*Header buttons on the right side*/

#left, #middle, #right {
	position: absolute;
	text-align: center;
	padding: 16px;
  height: 20px;
  width: 58px;
  font-size: 16px;
  color : #333;  
}

#left {
  left:770px;
}

#middle {
	left: 850px;
}

#right {
  left: 930px;
}

/*Container Layout*/

.container {
  width: 940px;
  position: absolute;
  left: 100px;
}

/* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

#insert1, #insert3 {
	position: relative;
	left: 0px;
	top: 20px;
	width: 940px;
	background: #ffffff;
  border: solid 5px #4aaaa5;
}

#insert11 {
  position: center;
  padding-bottom: 0px;
  width: 920px;
  margin-left: 10px;
  height: 70px;
  background: #ffffff;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #4aaaa5; 
  border-bottom: 5px solid #4aaaa5;
}

/* aside {

  float: left;
  width: 200px;
  height: 20px;
  margin: 0px;
  background: #ffffff;
  border: 1px solid #eee;
} */

/* Lower Section Layout*/

#insert2 {
	width: 940px;
	height: 70px;
	background: #ffffff;
  border: solid 5px #4aaaa5;
  margin-top: 40px;
  margin-bottom: 100px;
  position: static;
}


/*Contact Page/ Form Files*/

input {
  
  margin-top: 10px;
  margin-bottom: 10px;
  width: 590px;
  height: 40px;
  font-size: 20px;
}
  
.box {                 /*Contact Form Message Section*/
  
  width: 590px;
  height: 40px;
  font-size: 20px;
  border: 5px;
  border-color: black;
}
  
.box-6 {

  height: 320px;
}


.box-7 {                 /*Contact Form Button*/

  text-align: center;
  color: #ffffff;
  width: 80px;
  background: #4aaaa5;
}

/*Portfolio File Boxes*/

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
  
.gameA, .gameB,.gameC {

  margin: 35px;
  left: 0px;
  font-size: 18px;
  width: 230px;
  height: 230px;
  float: left;
}

.gameD, .gameE,.gameF {
  margin-top: 300px;
  margin: 35px;
  left: 0px;
  font-size: 18px;
  width: 230px;
  height: 230px;
  float: left;
}

.gameG, .gameH, .gameI {
  margin-top: 600px;
  margin: 35px;
  left: 0px;
  font-size: 18px;
  width: 230px;
  height: 230px;
  float: left;
}


/*Footer*/

footer {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  height: 50px;
  padding:10px;
  width:100%;
  font-size: 12px;
  text-align: center;
  background: #666666;
  border-top: #4aaaa5 5px solid; 
}

/*Modification for screen smaller than 980px*/

@media screen and (max-width: 980px) {
  
  #name{

    left: 50px;
  }

  #left {

    left: 320px;
  }

  #middle {

    left: 400px;
  }

  #right {

    left: 480px;
  }

  .container{
 
    left: 50px; 
  }

  /* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

  #insert1, #insert3
  {
    width: 540px;
    height: 100%;
  }

  #insert11
  {
    width: 520px;
  }
  /* Sidebar Layout*/

  #insert2 {

    width: 540px;
  }

  /*Contact Form"*/

  input {
    width: 490px;
  }

  .box {
    width:490px;
  }

  .box-7{
    width: 80px;
  }

  /*Portfolio File Boxes*/

  .gameA, .gameC, .gameE, .gameG{
    float: left;
    position: relative;
    align-content: center;
    margin-left: 10px;
  }

  .gameB, .gameD, .gameF, .gameH{
    float: right;
    position: relative;
    align-content: center;
    margin-left: 0px;
    margin-right: 20px;
  }


  footer {
    margin-top: 200px;
  }

}

/*Modification for screen smaller than 640px*/

@media screen and (max-width: 640px) {

  /*Header*/

  header {
  position: static;
  }

  #name{
    left: 50px;
  }

  #left {
    left: 210px;
  }

  #middle {
    left: 290px;
  }

  #right {
    left: 370px;
  }

  .container{
  left: 50px; 
  }

  /* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

  #insert1, #insert3{
    width: 380px;
  }

  #insert11{
    width: 340px;
  }

  /* Sidebar Layout*/

  #insert2 {
    width: 380px;
  }

  /*Contact Form"*/

  input {
  width: 370px;  
  }

  .box {

    width: 370px;
  }

  .box-7{

    width: 80px;
  }

  /*Portfolio File Boxes*/

  .gameA, .gameB, .gameC, .gameD, .gameE, .gameF, .gameG, .gameH {

    position: static;
    align-content: center;
    margin-left: 75px;
    margin-right:75px; 
  } 

  
}





 
