


body {

  font-size: 24px;
  line-height: 32px;
  font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
  background: #e6ffff;
}

/* Header Files*/

header {

  position: relative;	
  padding: 0px;
  height: 52px;
  width: 100%;
  margin-bottom: 00px;
  color: #ffffff;
  line-height: 24px;
  border-bottom-color: #cccccc;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  background: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Georgia', Times, Times New Roman, serif;
}

section {

  padding: 20px;
}

a:focus {

  background-color: lightblue;
}

a:link {

    color: black;
}

a:visited {

    color: #4aaaa5;
}

a:hover {

    color: red;
}

a:active {

    color: black;
}


#name{

  position: absolute;
  text-align: center;
  padding: 16px;
  left: 100px;
  width: 140px;
  height: 20px;
  background: #4aaaa5; 
}

/*Header buttons on the right side*/

#left, #middle, #right {

	position: absolute;
	text-align: center;
	padding: 16px;
  height: 20px;
  width: 58px;
  font-size: 16px;
  color : #333;  
}

#left {
	
  left:770px;
}

#middle {

	left: 850px;
}

#right {

  left: 930px;
}

/*Container Layout*/

.container {

  width: 960px;
  position: absolute;
  left: 100px;

}

/* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

#insert1, #insert3 {

	position: relative;
	left: 0px;
	top: 20px;
	width: 600px;
	/*height: 720px;*/
	background: #ffffff;
  border: solid 5px #dddddd;
}

#insert11 {

  position: center;
  padding-bottom: 0px;
  width: 530px;
  margin-left: 10px;
  height: 30px;
  background: #ffffff;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #4aaaa5; 
  border-bottom: 5px solid #4aaaa5;
}

aside {

  float: left;
  width: 200px;
  height: 20px;
  margin: 0px;
  background: #ffffff;
  border: 1px solid #eee;
}

/* Sidebar Layout*/

#insert2 {

  position: absolute;
  left:690px;
	top: 20px;
	width: 220px;
	height: 140px;
	background: #ffffff;
  border: solid 5px #dddddd;
}

#insert21 {
  
  padding-bottom: 10px;
  width: 174px;
  height: 30px;
  background: #ffffff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #20B2AA; 
  border-bottom: 5px solid #4aaaa5;
}

/*Contact Page/ Form Files*/

input {
  
  margin-top: 10px;
  margin-bottom: 10px;
  width: 590px;
  height: 40px;
  font-size: 20px;
}
  
.box {                 /*Contact Form Message Section*/
  
  width: 590px;
  height: 40px;
  font-size: 20px;
}
  
.box-6 {

  height: 320px;
}


.box-7 {                 /*Contact Form Button*/

  text-align: center;
  color: #ffffff;
  width: 80px;
  background: #4aaaa5;
}

/*Portfolio File Boxes*/

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
  
.gameA, .gameC {

  margin: 20px;
  left: 0px;
  font-size: 20px;
  width: 230px;
  height: 230;
  float: left;
} 

.gameB, .gameD {
  margin: 20px;
  left: 0px;
  font-size: 20px;
  width: 230px;
  height: 230;
  float:right;
}

.text {
  position: absolute;
  margin: 20px;
  width: 200px;
  padding: 15px;
  border: 0px;
  text-align: center;
  background: #4aaaa5;
  z-index: 1;
  
}

.textA{
  margin-top: 180px;
  float: left;

}

.textB{
  margin-top: 180px;
  right: 20px;

}

.textC{
  margin-top: 460px;
  float: left;

}

.textD{
  margin-top: 460px;
  right: 20px;

}
/*Footer*/

footer {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  height: 50px;
  padding:10px;
  width:100%;
  font-size: 12px;
  text-align: center;
  background: #666666;
  border-top: #4aaaa5 5px solid; 
}

/*Modification for screen smaller than 980px*/

@media screen and (max-width: 980px) {
  /*body {
    background-color: green;
  }*/

  /*Header*/

  #left {

    left: 520px;
  }

  #middle {

    left: 600px;
  }

  #right {

    left: 680px;
  }

  /* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

  #insert1, #insert3 {

  width: 340px;
  margin-bottom: 50px;
  }

  #insert11 {

  width: 300px;
  margin-left: 0px;
  }

  /* Sidebar Layout*/

  #insert2 {

  left: 440px; 
  }

  /*Contact Form"*/

  input {

  width: 330px;  
  }

  .box {

    width:330px;
  }

  .box-7{

    width: 80px;
  }

  /*Portfolio Boxes*/

  .gameA, .gameB, .gameC,.gameD {

    position: static;
    align-content: center;
    margin-left: 55px;
    margin-right:55px;  
  } 

  .textA{
    margin-top: 180px;
    margin-left: 55px;

  }

  .textB{
    margin-top: 460px;
    margin-right: 55px;
  }

  .textC{
    margin-top: 740px;
    margin-left: 55px;
  }

  .textD{
    margin-top: 1020px;
    margin-right: 55px;
  }

}

/*Modification for screen smaller than 768px*/

@media screen and (max-width: 768px) {
  /*body {
    background-color: orange ;
  }*/

  /*Header*/

  #name{

    left: 50px;
  }

  #left {

    left: 360px;
  }

  #middle {

    left: 440px;
  }

  #right {

    left: 520px;
  }

  .container{
 
    left: 50px; 
  }

  /* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

  #insert1, #insert3
  {
    width: 500px;
    height: 100%;
  }

  #insert11
  {
    width: 460px;
  }
  /* Sidebar Layout*/

  #insert2 {

    width: 500px;
    margin-top: 40px;
    margin-bottom: 100px;
    position: static;
    
  }

  /*Contact Form"*/

  input {

    width: 490px;
  }

  .box {

    width:490px;
  }

  .box-7{

    width: 80px;
  }

  /*Portfolio File Boxes*/

  .gameA,.gameB,.gameC , .gameD {

    position: relative;
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }


  .textA {

    margin-top: 180px;
    margin-left:0px;
    float: left;
  }

  .textB{

    margin-top: 180px;
    margin-right: 0px;
  }

  .textC{

    margin-top: 460px;
    margin-left:0px;
    float:left;
  }

  .textD{

    margin-top: 460px;
    margin-right: 0px;
  }

  footer {

    margin-top: 200px;
  }

}

/*Modification for screen smaller than 640px*/

@media screen and (max-width: 640px) {

  /*body {

    background-color: yellow ;
  }*/

  /*Header*/

  header {
  position: static;
  }

  #name{

    left: 50px;
  }

  #left {

    left: 240px;
  }

  #middle {

    left: 320px;
  }

  #right {

    left: 400px;
  }

  .container{

  left: 50px; 
  }

  /* Main Section Layout
inser1 for Index and Portfolio 
insert3 for Contact*/

  #insert1, #insert3
  {
    width: 380px;

  }

  #insert11
  {
    width: 340px;
  }

  /* Sidebar Layout*/

  #insert2 {

    width: 380px;
    margin-bottom: 100px;
    position: static;
  }

  /*Contact Form"*/

  input {

  width: 370px;  
  }

  .box {

    width: 370px;
  }

  .box-7{

    width: 80px;
  }

  /*Portfolio File Boxes*/

  .gameA, .gameB, .gameC,.gameD {

    position: static;
    align-content: center;
    margin-left: 75px;
    margin-right:75px; 
  } 

  .textA{

    margin-top: 180px;
    margin-left: 75px;

  }

  .textB{

    margin-top: 460px;
    margin-right: 75px;
  }

  .textC{

    margin-top: 740px;
    margin-left: 75px;
  }

  .textD{

    margin-top: 1020px;
    margin-right: 75px;
  }

}





 
